# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
venv311/
.venv/
env/
ENV/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Environment variables
# ----------------------------
.env

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Build / Distribution
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Model files (optional)
# ----------------------------
*.pkl
*.joblib
*.h5
*.pt

# ----------------------------
# Data files (optional - if large)
# ----------------------------
*.csv
*.xlsx

# ----------------------------
# Streamlit cache
# ----------------------------
.streamlit/

# ----------------------------
# Temporary files
# ----------------------------
*.tmp
*.temp